http://ccaiservice.com, http://www.ccaiservice.com {
	redir https://{host}{uri} permanent
}

ccaiservice.com, www.ccaiservice.com {
	encode zstd gzip
	reverse_proxy html-filter:80
}

:80 {
	encode zstd gzip
	reverse_proxy html-filter:80
}
